*{
    margin: 0px;
}

.nav_row{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    position: sticky;
    white-space: inherit;
    height: 60px;
    line-height: 60px;
    display: flow-root; /* prevent from .nav_left collapsing */
}
.nav_row div {
    display: inline-block;
}
@supports not (display:flow-root) { /* https://www.w3cplus.com/css3/display-flow-root.html */
    .nav_row::after { content: ''; display: table; clear:both; }
}

.nav_left{
    float: left;
    padding-left: 100px;
}
#home_title{
    color: #25a2b2;
    font-size: 25px;
    text-decoration: none;
}

.nav_right{
    float: right;
    padding-right: 100px;
}
ul { /* 取消ul預設的樣式 */
    list-style: none;
}
ul > li {
    float: left; /* 只有第一層是靠左對齊 */
}
ul a {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    height: 60px;
}
ul a:hover { /* 滑鼠滑入按鈕變色 */
    color:darkgreen;
}
#search img {
    padding: 20px;
    width: 20px;
    height: 20px;
    transition: 0.2s; /* 滑鼠滑入按鈕變大動畫 */
}
#search img:hover {
    padding: 18px;
    width: 24px;
    height: 24px;
}
#english a {
    color:gray;
}
#english a:hover {
    color:black;
}
/***
TODO: 自適應網站設計 (RWD)
drop-down-menu involves javascript events:
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
***/


/**********************************************/
#bg_img{
    width:100%; 
    height: 670px;
    background-color: black;
    background-image: url(./image/home/main.jpg); 
    background-position:center; 
}
#title{
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    color:white; 
    font-weight:800; 
    font-size:60px; 
    top:40%;
    text-align: center;
    margin: auto;
    width: 100%;
    z-index:1000;
}
#button1{
    font-family: 'Courier New', Courier, monospace;
    display : inline-block;
    position:absolute;
    z-index: 1000;
    left: 32%;
    top:60%;
    background-color: transparent;
    font-size: 20px;
    color: white;
    border: 5px solid white  ;
    height: 60px;
    width: 200px;
    cursor: pointer;
}
#button1:hover{
    background-color: white;
    color: black;
}
#button2{
    font-family: 'Courier New', Courier, monospace;
    display : inline-block;
    position:absolute;
    z-index: 1000;
    left: 51%;
    top:60%;
    font-size: 20px;
    color: white;
    background-color: darkgreen;
    border: transparent solid ;
    height: 60px;
    width: 200px;
    cursor: pointer;
}
#button2:hover{
    background-color:  #103800;
}
/**********************************************/


